body {
    margin:0;
    background-color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    }
#dav {
    background-image: url("https://i.pinimg.com/736x/a9/98/0b/a9980b9da9c0735a548c22bd8d7fc57d.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dav h1{
    display: flex;
    font-style: inherit;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px white;
    color:black;
    border: chocolate 1px;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/236x/4e/ea/89/4eea8910ee8231a5a593822e102ce890.jpg");
    height: 20vh;
    font-family: cursive;
}
#dav .navi{
    font-style: inherit;
    font-size: 20px;
    text-decoration: none;
    color: wheat;
    border: chocolate 1px;
    padding:10px 20px;
    border-radius: 10px;
    font-family: cursive;
}

#dav .navi:hover{
    background: chocolate;
    color: azure;

}

.mywork {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/05/f0/3b/05f03b4c1067448464539de1626c5b4f.jpg");
    height: 100vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#portfolio {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}

#meetme {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}

.meet {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/c2/1f/19/c21f19120528f3c31f7817cf7e6d649b.jpg");
    height: 100vh;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nalah:hover {
    background: chocolate;
    color: azure;
    text-decoration: none;
    border-radius: 10px;
    margin: 25px 0;
}
.nalah:thead {
    background-color: coral;
    color: aliceblue;
}

.newid:hover {
    width: 200px;
    color: bisque;
    padding: 20px;
    box-shadow: 0 0 15px 4px rgba;
    border-radius: 10px;
    margin: 25px 0;
}

.contactpage{
    
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/9c/2b/d0/9c2bd05a029c9b421f493b1133bb2f37.jpg");
    height: 100vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#contact {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}

.contactpage.socialmedia { color: darkslategray;
    text-decoration: none;

}
.contactpage.socialmedia:hover
{color: grey;

}