body {
    margin:0;
    background-color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    }
#dav {
    background-image: url("https://i.pinimg.com/564x/54/9e/71/549e7103e9bcbcb752262bcaa0995048.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dav h1{
    display: flex;
    font-style: inherit;
    font-size: 20px;
    text-decoration: navajowhite;
    text-shadow: 1px 1px 1px white;
    color:black;
    border: chocolate 1px;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/564x/1b/73/7b/1b737becfdf0181aa9674bca2d166360.jpg");
    height: 40vh;
    font-family: Arial, Helvetica, sans-serif;
}
#dav .navi{
    font-style: inherit;
    font-size: 20px;
    text-decoration: none;
    color: wheat;
    border: chocolate 1px;
    padding:10px 20px;
    border-radius: 10px;
    font-family: cursive;
}

#dav .navi:hover{
    background: chocolate;
    color: azure;

}

.mywork {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/c7/d3/1b/c7d31bba02c3d9104c5545fd755eb6b8.jpg");
    height: 100vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#portfolio {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}

#meetme {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}

.meet {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/8d/88/a8/8d88a82f3921090167cb0b90e81e1aee.jpg");
    height: 100vh;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: baseline;
}

.nalah:hover {
    background: chocolate;
    color: azure;
    text-decoration: none;
    border-radius: 10px;
    margin: 25px 0;
}
.nalah:thead {
    background-color: coral;
    color: aliceblue;
}

.newid:hover {
    width: 200px;
    color: bisque;
    padding: 20px;
    box-shadow: 0 0 15px 4px rgba;
    border-radius: 10px;
    margin: 25px 0;
}

.contactpage{
    
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/f3/f3/4a/f3f34a25a3ad04f2c957345eabd637a4.jpg");
    height: 100vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#contact {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}

.contactpage.socialmedia { color: brown;
    text-decoration: none;

}
.contactpage.socialmedia:hover
{color: gray;

}