body {
    margin:0;
    background-color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    }
#dav {
    background-image: url("https://images.unsplash.com/photo-1471897488648-5eae4ac6686b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dav .navi{
    font-style: inherit;
    font-size: 20px;
    text-decoration: none;
    color: chocolate;
    border: chocolate 1px;
    padding:10px 20px;
    border-radius: 10px;
}

#dav .navi:hover{
    background: chocolate;
    color: azure;

}

.mywork {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/05/f0/3b/05f03b4c1067448464539de1626c5b4f.jpg");
    height: 100vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#portfolio {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}

#meetme {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}

.meet {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/c2/1f/19/c21f19120528f3c31f7817cf7e6d649b.jpg");
    height: 100vh;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nalah:hover {
    background: chocolate;
    color: azure;
    text-decoration: none;
    border-radius: 10px;
    margin: 25px 0;
}
.nalah:thead {
    background-color: coral;
    color: aliceblue;
}

.newid:hover {
    width: 200px;
    color: bisque;
    padding: 20px;
    box-shadow: 0 0 15px 4px rgba;
    border-radius: 10px;
    margin: 25px 0;
}

.contactpage{
    
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/9c/2b/d0/9c2bd05a029c9b421f493b1133bb2f37.jpg");
    height: 100vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#contact {
    text-transform: uppercase;
    background-image: linear-gradient();
    color: chocolate;
    animation: alternate-reverse;
    display: inline-block;
}
#phylis {
    display: flex;
}